<div class="container-fluid">
  <h2>Plant Care</h2>
  <div class="row">
    <div class="col-12 col-md-4">
      <div class="row">
        <div class="col-3">
          <img
            src="https://cdn.shopify.com/s/files/1/0150/6262/t/123/assets/pdp-plant-care-icon_half-sun.png?v=805128663179135805">
        </div>
        <div class="col-9">
          <h5>LIGHT</h5>
          <p>Thrives in medium to low indirect light. Not suited for intense, direct sun.</p>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-4">
      <div class="row">
        <div class="col-3">
          <img src="https://cdn.shopify.com/s/files/1/0150/6262/t/123/assets/pdp-plant-care-icon_water-biweekly.png?v=17626310380393541439">
        </div>
        <div class="col-9">
          <h5>WATER</h5>
          <p>Water every 1-2 weeks, allowing soil to dry out between waterings. Increase frequency with increased
            light.</p>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-4">
      <div class="row">
        <div class="col-3">
          <img src="https://cdn.shopify.com/s/files/1/0150/6262/t/123/assets/pdp-plant-care-icon_glasses.png?v=8214002279859726268">
        </div>
        <div class="col-9">
          <h5>PLANT TIP</h5>
          <p>This plant can be propagated in water.</p>
        </div>
      </div>
    </div>
  </div>
</div>
