<div *ngIf="modalDataObject">
  <div class="modal-header">
    <div class="header-info">
      <h3 class="modal-title" id="modal-basic-title">Cart (1)</h3>
      <div>
        <a href="#">Continue Shopping </a>
      </div>
    </div>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="container">
      <div class="row">
        <div class="col-4">
          <img src="{{modalDataObject?.img}}" alt="">
        </div>
        <div class="col-8">
          <h5>Marble Queen Photos</h5>
          <p class="type-product">
            {{modalDataObject?.sizeProduct | titlecase}} / {{modalDataObject.dataType}}
            / {{modalDataObject?.colorProduct | titlecase}}
          </p>
          <p class="price" *ngIf="modalDataObject.currency === 'usd'">
            {{modalDataObject.price | currency: 'USD': 'symbol':'1.0'}}
          </p>
          <p class="price" *ngIf="modalDataObject.currency === 'eur'">
            {{modalDataObject.price | currency: 'EUR'}}
          </p>
          <div>
            <div class="counter-block">
              <button class="btn btn-link" (click)="addCountProduct(false)">-</button>
              <div>{{countProduct}}</div>
              <button class="btn btn-link" (click)="addCountProduct(true)">+</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <div class="sub-total">
      <h5>Subtotal</h5>
      <h5 *ngIf="modalDataObject.currency === 'usd'">
        {{totalPrice | currency: 'USD': 'symbol':'1.0'}}
      </h5>
      <h5 *ngIf="modalDataObject.currency === 'eur'">
        {{totalPrice | currency: 'EUR'}}
      </h5>
    </div>
    <div>
      <p>Shipping and taxes calculated at checkout.</p>
    </div>
    <button type="button" (click)="activeModal.close('Save click')">Shopping cart</button>
  </div>
</div>


